:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
	font-size: 14px;
	--black-70-color: #000000b3;
	--grey-00-color: #ffffff00;
	--grey-07-color: #ffffff07;
	--grey-08-color: #ffffff08;
	--grey-10-color: #ffffff1a;
	--grey-20-color: #ffffff32;
	--grey-30-color: #ffffff4d;
	--grey-50-color: #ffffff80;
	--grey-60-color: #ffffff99;
	--grey-80-color: #ffffffcc;
	--grey-87-color: #ffffffde;
	--blue-color: #0184cfff;
	--blue-50-color: #0184cf80;
	--red-color: #fc363999;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
